.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 180px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 7px;
  margin-right: 0px;
  background-color: #ff88b7;
  color: #FFF;
  border: 2px solid #ff88b7;
  border-radius: 5px;
}

.todoListMain .header button:hover {
  background-color: #FFF;
  border: 2px solid #FFF;
  color:#bbb;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
  white-space: nowrap;
}

/* mostrar texto completo no hover quando a tarefa tem mais de uma linha */
.todoListMain .theList li:hover {
  background-color: #ffbbd6;
  overflow:visible;
  word-break: break-all;
  white-space: normal;
}

.texto {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-times {
  float: right;
  display: inline-block;
  color: #bbb;
  margin-left: 10px;
}

.fa-times:hover {
  color: #FFF;
}


ul.theList {
  padding: 0;
}
